v-cv .content{
	height: 100%;
}

v-cv a.openPDF{
	position: fixed;
	transform-origin: bottom;
	left: 50%;
	transform: translateX(-50%);
	transition: all 200ms, bottom 3000ms;

	padding: 20px 35px;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	background-color: #99ccff;
	border-radius: 15px;
	font-family: Jost;

	bottom: -100%;
}
v-cv.open a.openPDF{
	bottom: 3px;
}

v-cv a.openPDF:hover{
	transform: translateX(-50%) scale(1.2);
	background-color: #aaddff;
}

v-cv object{
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

v-cv object{
	transform: translateY(-100px);
	border-radius: 50%;
	transform-origin: top;
	opacity: 0;
	border: 3px solid #eee;
	transition: opacity 300ms, all 800ms;
}
v-cv.open object{
	opacity: 1;
	transform: translateY(0);
	border-radius: 8px;
}

v-cv.close object{
/*	opacity: 0;*/
/*	transition: 1000ms opacity, 1000ms all;*/
	transition: all 300ms, 500ms 400ms transform;
	transition-delay: 800ms transform;
	border-radius: 30px;
	width: 70px;
	transform: translateY(120vh);
}

v-cv .center{
	height: 100%;
	display: flex;
/*	align-items: center;*/
	padding: 20px;
/*	justify-content: center;*/
}

v-cv.close .openPDF{
	transform: translateX(-50%) translateY(50vh);
	transition: 1000ms;
}
