#content{
	background-color: transparent;
	color: #ededed;
	height: 100vh;
	width: calc(100% - 80px);
	left: 80px;
	position: absolute;
	transition: 200ms;
}

#content.loading{
	background-color: green;
	transition: 0;
}