#content{
	background-color: transparent;
	color: #ededed;
	height: 100vh;
/*	width: calc(100% - 80px);*/
	width: 100%;
/*	left: 80px;*/
	left: 0;
	position: absolute;
	transition: 200ms;
}

#content.loading{
/*	background-color: green;*/
	transition: 0;
}

/* v-elements  */
#content > *{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	height: 100svh;
	overflow-y: auto;
	z-index: 904;
}

/* .content div in v-elements*/
#content > * > .content{
	position: absolute;
	left: 80px;
	width: calc(100% - 80px);
}

#content > * {
	position: inherit;
/*	background-color: #f005;*/
	width: 100%;
	height: 100%;
}

