/* width */
v-sidebar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
v-sidebar::-webkit-scrollbar-track {
  /*  we can make the scroll bar translucent too 
  but it's better. kinda like protected glass. */
  /*  background-color: #0000;*/
  background: #101010;
}

/* Handle */
v-sidebar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

/* Handle on hover */
v-sidebar::-webkit-scrollbar-thumb:hover {
  background: #888;
}
