html,
body {
	background-color: #1a1a1a;
	margin: 0;
	padding: 0;
}

v-sidebar a,
v-sidebar button{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
v-sidebar a img{
/*	to prevent event bubbling*/
	pointer-events: none;
}

v-sidebar {
	background-color: #101010;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 80px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

v-sidebar[v9="1"] {
	overflow: hidden;
}

/*v-sidebar:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #0ff1, #6060);
	opacity: 0;
	transition: 400ms;
}
v-sidebar[v9="1"]:before {
	transition: 1600ms;
	opacity: 1;
}
*/

v-sidebar .header {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	gap: 0;

	flex: 0;
	height: 100px;
	color: #acacac;
	font-family: jost;
	font-weight: 400;
	font-size: 32px;
	padding: 18px 0;
	cursor: default;
	transition: 200ms;


}

v-sidebar .content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-direction: column;
	padding: 0 0;
	gap: 10px;
	transition: 700ms;
	opacity: 1;
}

v-sidebar .content a,
v-sidebar .content button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 60px;
	height: 60px;
	background-color: #141414;
	color: #585858;
	padding: 10px 0px;
	border-radius: 6px;
	transition: 200ms;

	border: 0px solid #0000;
}
v-sidebar .content a:hover,
v-sidebar .content button:hover {
	background-color: #181818;
}
v-sidebar .content a[active],
v-sidebar .content button[active] {
	transition: 1200ms;
	box-shadow: 0 0 0 1px #585858;
	border-radius: 13px;
}
v-sidebar .content a[active]:hover,
v-sidebar .content button[active]:hover {
	transform: scale(1.05);
	transition: 400ms;
}

v-sidebar .content a img,
v-sidebar .content button img {
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;

	max-width: 100%;
	max-height: 100%;
	height: auto;
	transition: 700ms;
}
v-sidebar .content a:hover img,
v-sidebar .content button:hover img {
	transition: 200ms;
	transform: rotate(7deg) /*translateX(+1px)*/;
}

v-sidebar .content a[active] img,
v-sidebar .content button[active] img {
	transition: 300ms;
	transform: scale(1.3);
}

/*   */

v-sidebar .header:hover {
	padding-top: 35px;
	height: 300px;
	transition: 299ms;
}

v-sidebar .header span {
	position: relative;
	line-height: 30px;
	user-select: none;
}

v-sidebar .header span.reveal {
	line-height: 0px;
	font-size: 0;
	opacity: 0;
	transition: 200ms;
	transform-origin: center;
}
v-sidebar .header[v9="1"] span.reveal,
v-sidebar .header:hover span.reveal {
	line-height: 30px;
	font-size: 32px;
	opacity: 1;
	transition: all 700ms, line-height 500ms, font-size 200ms;
}

v-sidebar .header[v9="1"] {
	/*	background-color: #33334f;*/
	border-radius: 0;
/*	box-shadow: 0 0 80px 7px #101010 inset;*/
	flex: 1;
	height: 100%;
	transition: 400ms;
	position: sticky;
	top: 0;
	z-index: 999;
}

/*   */

v-sidebar .header[v9="1"] span,
v-sidebar .header[v9="1"] span.reveal {
	line-height: 50px;
	transition: 2000ms;
}

v-sidebar .header[v9="1"] + .content,
v-sidebar .header[v9="1"] + .content + .footer {
	transition: all 400ms, box-shadow 2000ms;
	flex: 0;
	height: 0;
	overflow: hidden;
	border-radius: 50px 50px 20px 20px;
	box-shadow: 
		0 50px 5px 5px #f0f inset, 
		0 13px 5px 10px #0ff inset;
/*	opacity: 0.7;*/
	opacity: 0;
}

v-sidebar .header[v9="2"] + .content,
v-sidebar .header[v9="2"] + .content + .footer {
	transition: all 700ms, flex 200ms, opacity 0ms, border-radius 1400ms;
}

v-sidebar .header[v9="2"] {
	transform: translateX(-100%);
	pointer-events: none;
	opacity: 0;
	transition: 150ms;
}

/*   */

v-sidebar{
	transition: 200ms;
}
v-sidebar[v9="1"]{
	background-color: #171c1c;
	transition: 2000ms;
}
v-sidebar .circle1{
	position: absolute;
/*	top: 3%;*/
/*	right: -20%;*/
/*	right: 50%;*/
/*	top: 70vh;*/
	width: 70vh;
	height: 70vh;
	transition: 1400ms;
	border-radius: 	30%;
/*	border: 4px cyan solid;*/
	filter: blur(27px);


	display: none;
	bottom: -50%;
/*	left: -300%;*/
	right: -70%;
	opacity: 0;
	background-color: cyan;
	transition: 150ms;
	animation: rotatorAnim 4100ms infinite linear, fadeInLava 2000ms;
}
v-sidebar[v9="1"] .circle1 {
	display: block;
	transition: 1400ms;
	opacity: 0.35;
/*	bottom: -50%;*/
}
v-sidebar[v9="1"]:hover .circle1 {
/*	animation-duration: 3000ms;	*/
	width: 90vh;
	height: 90vh;
	opacity: 0.6;
	
}

@keyframes fadeInLava{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}

}

@keyframes rotatorAnim{
	from{
		transform: rotate(0);
		border-radius: 20%;
	}
	50%{
		border-radius: 45%;
	}
	to{
		transform: rotate(360deg);
		border-radius: 20%;

	}
}