.v-notifications{
	display: flex;
	flex-direction: column-reverse;
/*	align-items: flex-start;*/
	justify-content: flex-start;
/*	align-items: flex-start*/
	width: 490px;
	height: 100%;
/*	border: 2px solid cyan;*/
/*	gap: 20px;*/
	padding: 0 20px;
	padding-bottom: 50px;
	position: fixed;
align-content: flex-start;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;

}

/* now we use direction reverse column  */
/*.v-notifications > v-notification:last-child {*/
/*    margin-bottom: 50px;*/
/*}*/

/*.v-notifications > v-notification:last-child {*/
/*    margin-top: auto;*/
/*}*/