html, body{
	background-color: #1a1a1a;
}

v-notification {
	--b-radius: 25px;
	--b-width: 2px;
	position: relative;
	overflow: hidden;

	display: flex;
	align-items: stretch;
/*	justify-content: stretch;*/
	background: linear-gradient(20deg, #0ff, #00f);
	padding: var(--b-width);
	box-sizing: border-box;
	border-radius: var(--b-radius);
	font-family: "open sans";

/*	height: 180px;*/
	min-height: 220px;
}

v-notification .content {
	flex: 1;
	border-radius: calc(var(--b-radius) - var(--b-width) / 2);
	background: linear-gradient(117.72deg, rgba(21, 21, 21, 0.8) 12.19%, rgba(28, 28, 28, 0.8) 85.22%);
	background-color: #161616;
	color: #eee;
	padding: 25px;
	overflow: hidden;
	position: relative;
	padding-top: 60px;
	padding-left: 50px;
}
v-notification {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

v-notification.important{
	background: linear-gradient(20deg, #f00, #00f);
	animation: coloring 1700ms infinite linear, bringNotificcation 800ms cubic-bezier(0.18, 0.76, 0.15, 1) 1;
	background-size: 200% auto;
	--b-width: 4px;
}

/*
enjoying notifaction idk
v-notification.important .content{
	transition: 12000ms;
}
v-notification.important:hover .content{
	transform: scale(0);

}*/
@keyframes coloring{
	0% {
		background-position: -100% 0;
	}
	50% {
		background-position: -200% 0;
	}
	100% {
		background-position: -100% 0;
	}
}


v-notification{
/*	max-height: 100vh;*/
/*	min-max-height: 100vh;*/
	margin-top: 20px;
}

v-notification{
	animation: bringNotificcation 800ms;
	animation-timing-function: cubic-bezier(0.18, 0.76, 0.15, 1);
}
@keyframes bringNotificcation{
	from{
		transform: translateX(100%) scale(0.7);
	}
	to{
		transform: translateX(0) scale(1);;
	}
}

v-notification{
	--time: 700ms;
}

v-notification.closing > *{
/*	max-height: 0;*/
/*	min-max-height: 0;*/
/*	opacity: 0;*/
	transition: var(--time);
/*	padding: 0;*/

}

v-notification.closing{
	pointer-events: none;

	transition: var(--time);
	height: 0;
	min-height: 0;
	padding: 0;
	margin: 0;

	transform: translateX(200%);
	overflow: hidden;
}

v-notification button.close{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;

	width: 36px;
	height: 36px;

	background: #1F1F1F;
	border: 1px solid #282828;
	border-radius: 34px;


	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 110%;

	color: #FFFFFF;

	position: absolute;
	top: 12px;
	left: 12px;
}

/*
another place
v-notification:hover .content{
	transform: rotateZ(30deg) rotateY(30deg) rotateX(30deg);
	transition: 200ms;
}*/