html, body{
	background-color: #1a1a1a;
}

v-notification {
	--b-radius: 25px;
	--b-width: 2px;
	position: relative;
	overflow: hidden;

	display: flex;
	align-items: stretch;
/*	justify-content: stretch;*/
	background: linear-gradient(20deg, #0ff, #00f);
	padding: var(--b-width);
	box-sizing: border-box;
	border-radius: var(--b-radius);
	font-family: "open sans";

/*	height: 180px;*/
	min-height: 220px;
}

v-notification .content {
	flex: 1;
	border-radius: calc(var(--b-radius) - var(--b-width) / 2);
	background-color: #101010;
	color: #eee;
	padding: 25px;
	overflow: hidden;
	position: relative;
}

v-notification.important{
	background: linear-gradient(20deg, #f00, #00f);
	animation: coloring 1700ms infinite linear;
	background-size: 200% auto;
	--b-width: 4px;
}
@keyframes coloring{
	0% {
		background-position: -100% 0;
	}
	50% {
		background-position: -200% 0;
	}
	100% {
		background-position: -100% 0;
	}
}


v-notification{
/*	max-height: 100vh;*/
/*	min-max-height: 100vh;*/
	margin-top: 20px;
}

v-notification{
	animation: bringNotificcation 800ms;
	animation-timing-function: cubic-bezier(0.18, 0.76, 0.24, 0.92);
}
@keyframes bringNotificcation{
	from{
		transform: translateX(100%) scale(0.7);
	}
	to{
		transform: translateX(0) scale(1);;
	}
}

v-notification{
	--time: 700ms;
}

v-notification.closing > *{
/*	max-height: 0;*/
/*	min-max-height: 0;*/
/*	opacity: 0;*/
	transition: var(--time);
/*	padding: 0;*/

}

v-notification.closing{
	pointer-events: none;

	transition: var(--time);
	height: 0;
	min-height: 0;
	padding: 0;
	margin: 0;

	transform: translateX(200%);
	overflow: hidden;
}