/*v-network > .content{*/
/*	opacity: 0;*/
/*	transform: translate(0, 30%) scale(0.9);*/
/*	transition: 700ms;*/
/*	background-color: #466;*/
/*}*/
/*v-network.open > .content{*/
/*	opacity: 1;*/
/*	transform: translate(0,0) scale(1.0);*/
/*	border-radius: 0;*/
/*	transition: 200ms;*/
/*}*/

v-network > .content h1{
	transition: 200ms;
	transform: translate(-80%, 0);
	opacity: 0;
}
v-network.open > .content h1{
	transition: 1800ms;
	opacity: 1;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.3, 1);
	transform: translate(0, 0);
}
v-network.close {
	overflow-x: hidden;
}
v-network.close > .content h1{
	transition: transform 300ms, opacity 300ms;
	transform: translate(2%, 0);
/*	background-color: red;*/
	opacity: 0;
}



v-network > .content h4 {
	transition: 260ms;
	opacity: 0;
}
v-network.open > .content h4 {
	opacity: 1;
}

v-network.close > .content h4 {
	opacity: 0;
}


v-network > .content .table.socials .row{
/*	--i*/
	--row-transition-duration: calc(600ms * var(--i));
	transition: 
	transform var(--row-transition-duration),
	opacity var(--row-transition-duration)
	;

	transform: translateY(400px) scale(0.7);
	transform-origin: left;
	opacity: 0;
}
v-network.open > .content .table.socials .row{
	transform: translateY(0);
	opacity: 1;

}
v-network.close > .content .table.socials .row{
	transform: translateY(400px) scale(0.7);
	transition: calc(600ms / var(--i));
	transform-origin: right;
	opacity: 0;
}