v-notifications{
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 100%;
	gap: 20px;
	padding-bottom: 50px;
	position: fixed;
	top: 0;
	right: 30px;
	overflow-y: auto;

}

v-notifications > v-notification:last-child {
    margin-bottom: 50px;
}
