body {
	--coolTextHighlight: #55f3;
}

.coolText {
	user-select: none;
}

.coolText span,
.coolText br {
	transition: 600ms;
	display: inline-block;
	cursor: default;
	transition-timing-function: cubic-bezier(0.21, 2.1, 0.58, 1);
	transform-origin: bottom;
	-webkit-user-drag: none;
	font-family: sans-serif;
}

.coolText span:hover {
	transform: scale(0.8);
	transition: 100ms;
	transition-timing-function: ease;
}
body:active .coolText span:hover {
	opacity: 0.6;
	transform: scale(1.2);
	transition: 200ms;
	transition-timing-function: cubic-bezier(0.21, 2.1, 0.58, 1);
}

/* use-select is none  */
/*.coolText span::selection {*/
/*	color: #eee;*/
/*	background: #7700ff;*/
/*}*/

.coolText.extra span {
	transform-origin: center;
	border-radius: 0.07em;
}

.coolText.extra span:hover {
	/*	--coolTextHighlight: #55f3;*/
	box-shadow: 0 0 0 0.4em var(--coolTextHighlight);
	background-color: var(--coolTextHighlight);
}

.coolText.super {
	border-bottom: 0.07em solid #f0f4;
	border-radius: 0.3em;
	transition: 200ms;
	user-select: none;
}
.coolText.super:hover {
	border-bottom: 0.07em solid #f0f;
	border-radius: 0;
}

body:active .coolText.super span:hover {
	filter: drop-shadow(0.17em 0.17em 0 #0ff) drop-shadow(-0.17em -0.17em 0 #f0f);
}

/* use-select is none  */
/*.coolText.extra span::selection {*/
/*	background: #6600aa;*/
/*}*/

/*.coolText span:active {*/
/*}*/
