v-dashboard img.me{
/*	box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.35);*/
	box-shadow: 0 0 0 #1a1a1a;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	z-index: 1200;




	transform-origin: top;
/*	transition: border-radius 1070ms, transform 1070ms, box-shadow 800ms;*/
	transition: 
	border-radius 1070ms,
	transform 1070ms,
	height 200ms,
	width 400ms,
	top 300MS,
	left 300MS,
	box-shadow 400ms;
/*	border-top-left-radius 60ms*/

/*	*/
	position: absolute;
	top: 47px;
	left: 57px;

	z-index: 99999;

	width: 0;
	height: 0;
	opacity: 0;
/*	border-radius: 17px;*/
/*	border-radius: 50%;*/
	border-radius: 150px;
	transform: translateX(-30px);
	opacity: 0;

}

v-dashboard.open img.me{
	width: 283px;
	height: 283px;
	opacity: 1;
	transform: scale(1);
	border-radius: 17px;

}
v-dashboard.close img.me{
	transition: 230ms;
	transform: translateX(-50px);
	opacity: 0;
}
v-dashboard.scrolled.close img.me{
	transition: 400ms;
	opacity: 0;
	transform: translateY(-100vh);
}


v-dashboard img.me:hover{
/* messes :active transition */
/*	transition-timing-function: cubic-bezier(0.19, 0.85, 0.53, 1.32);*/
	border-radius: 25px;

}

v-dashboard.scrolled img.me{
/*	transition: 200ms;*/
	width: 80px;
	left: 210px;
	height: 80px;
	border-radius: 50%;
}
v-dashboard.scrolled img.me:hover{
	transform: translateY(10px);
}

v-dashboard.scrolled img.me:active,
v-dashboard img.me:active{
/*	transition: border-radius 250ms, transform 1070ms, box-shadow 1800ms;*/
	transition: 
	border-radius 400ms,
	transform 1070ms,
	height 1070ms,
	width 1070ms,
	left 1070ms,
	top 1070ms,
	box-shadow 400ms,
	filter 3000ms,
	border-top-left-radius 600ms ease-out

	;

	border-radius: 50%;
	transform: rotate(6deg) scale(1.5) translateX(50%);
	box-shadow: 0 0 0 15.0px #101010, 0 0 0 22.5px #dedede;
	filter: drop-shadow(50px 50px #101010);

	/*	*/
	transform: rotate(6deg) translateX(-50%);
	top: 15vh;
	height: 80vh;
	width: 80vh;
	left: 50%;
}



