v-dashboard .content{
/* when reached, header image and name won't sticky at the top.
just gonna scroll to top. this enables us a nice transition to switch
another section in the dashboard with greater focus. for now, we don't
have any idea for this part. so I'll just use dashboard as tree/details page*/

/*	height: 180vh;*/
}

.about{
	position: relative;
/*	height: 140vh;*/
/*	background-color: #3006;*/

	/*kinda var*/
	top: 320px;
}

.texty{
	position: sticky;
/*	background-color: #8502;*/

/*	width: 50%;*/
/*	left: 50%;*/


/*	top: 320px;*/
/*	height: calc(100vh - 320px);*/

	top: 80px;
	height: calc(100vh - 80px);
/*	background-color: red;*/
	flex: 1;
/*	padding-left: 100px;*/
/*	margin-right: 180px;*/
	margin-right: 70px;
	margin-left: 70px;

/*	margin-left: auto;*/
/*	text-align: center;*/
	/*	!TODO: add a wrapper with flex align center
		can't make itself flex. messes box-shadow inset up */
/* or just use fixed margin from left	*/

}
.mytree{
/* we'll do a real one */
/*	border-left: 4px solid cyan;*/
/*	margin-left: 150px;*/
/*	transform: translateX(-2px);*/
}

.split2col{
	display: flex;
	flex-direction: row;
}

.mytree{
	padding-top: 70px;
}

.treeRow{
	display: flex;
}

.treeRow > .treeTitle {
	width: 150px;
	padding-bottom: 270px;
}

.treeRow > .divider {
	transform: translateX(-50%);
	width: 1px;
	background-color: #6E5ED0;
/*	height: 100%;*/
}

.treeRow > .divider > .circle {
	position: sticky;
/*	top: 350px;*/
	top: 50%;
	margin-bottom: 22px;
	transform: translateX(-50%);
	background-color: #1a1a1a;
	border: 1px solid #6E5ED0;
	border-radius: 50%;
	width: 25px;
	height: 25px;

	transition: 500ms;
}

.treeRow > .divider > .circle:hover {
	background-color: #dcd7f4;
	box-shadow: 0 0 100px 30px #6E5ED0;
}