v-dashboard .content{
/* when reached, header image and name won't sticky at the top.
just gonna scroll to top. this enables us a nice transition to switch
another section in the dashboard with greater focus. for now, we don't
have any idea for this part. so I'll just use dashboard as tree/details page*/

/*	height: 180vh;*/
}

.about{
	position: relative;
/*	height: 140vh;*/
/*	background-color: #3006;*/

	/*kinda var*/
	top: 320px;
}

.texty{
	position: sticky;
/*	background-color: #8502;*/

/*	width: 50%;*/
/*	left: 50%;*/


/*	top: 320px;*/
/*	height: calc(100vh - 320px);*/

	top: 80px;


	max-height: calc(100vh - 80px);


/*	background-color: red;*/
	flex: 1;
/*	padding-left: 100px;*/
/*	margin-right: 180px;*/
/*	margin-left: 70px;*/
	margin-right: 17px;
	margin-left: 0px;
}
.mytree{
	z-index: 90;
}

.split2col{
	z-index: 9;
	display: flex;
	flex-direction: row;
}

.mytree{
	padding-top: 70px;
	padding-bottom: 50vh;
}

.treeRow{
	display: flex;
/*	background-color: #f004;*/
	position: relative;
	z-index: 777;
}



.treeRow > .treeTitle {
	cursor: default;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 70px;


	width: 250px;
	min-width: 250px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;

/*	font-size: 26px;*/
	font-size: 30px;

/*	line-height: 110%;*/
/*	padding-left: 50px;*/

	min-height: 300px;
/*	min-height: 200px;*/

	color: #ccc;
}

.treeRow:hover > .treeTitle {
	color: #fff;
}
.treeRow > .treeTitle > span {
	white-space: nowrap;
	wrap: no-wrap;
	transform: rotate(-90deg) translateX(50%);
	transform-origin: right;
}

.treeRow > .treeDesc {
	cursor: default;
/*	padding-top: 130px;
	padding-bottom: 130px;
*/
	display: flex;
/*	border: 2px solid cyan;*/
	align-items: center;


	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
/*	font-size: 26px;*/
	font-size: 22px;
	line-height: 32px;
	padding: 50px 0;
	padding-left: 50px;
	max-width: 500px;
}

.texty a {
	z-index: 903;
	color: #6e5ed0;
	text-decoration: none;

	transition: 200ms;
	border-radius: 3px;
	
}
.texty a:hover {
	transition: 130ms;
	background-color: #6e5ed0;
	color: #e1e1e1;
}

/*.treeRow:first-child > .divider:before {
	content: "";
	position: absolute;
	bottom: 100%;
	width: 1px;
	background: linear-gradient(to top, #6E5ED0, #0000);
	height: 60px;
}
*/
.treeRow:last-child > .divider:before {
	content: "";
	position: absolute;
	top: 100%;
	width: 1px;
	background: linear-gradient(to bottom, #6E5ED0, #0000);
	height: 600px;
}

.treeRow > .divider {
	transform: translateX(-50%);
	width: 1px;
	background-color: #6E5ED0;
/*	height: 100%;*/
}

.treeRow > .divider > .circle {
	position: sticky;
/*	top: 350px;*/
	top: 50%;

/*	margin-bottom: 22px;*/
/*	margin-top: 22px;*/
	margin: 11px 0;

	transform: translateX(-50%);
	background-color: #151515;
	border: 1px solid #6E5ED0;
	border-radius: 50%;
	width: 25px;
	height: 25px;

	transition: all 500ms, box-shadow 600ms;
}

/*.treeRow > .divider > .circle:hover {*/
.treeRow > .divider > .circle.active {
	background-color: #dcd7f4;
	box-shadow: 0 0 100px 30px #6E5ED0;
}

.texty > .scroll-content{
	max-height: 100%;
	widows: 200px;
	overflow-y: auto;
	margin-right: 5px;

	/* Text */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 110%;

	padding: 40px;
}


.texty > .shady-scroller,
.texty > .scroll-content{
	flex: 1;
	transition: all 800ms;
	border-radius: 13px;
	box-shadow: 0 0 0 0 #6660;
/*	padding-left: 30px;*/
	max-height: 80%;
}

.texty.loading > .scroll-content,
.texty.loading > .shady-scroller {
	box-shadow: 0 0 0 1px #6E5ED0
/*	,0 0 90px -50px #dcd7f4*/
	;
	background-color: #eeeeee03;
/*	transform: scale(0.99);*/
}

.texty > .shady-scroller:before,
.texty > .shady-scroller:after{
	transition: inherit;
	opacity: 1;
}

.texty.loading > .shady-scroller:before,
.texty.loading > .shady-scroller:after{
	opacity: 0;
}

.texty{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}


