.head{
	position: sticky;
	top: 0;
	z-index: 99999;

}

.name{
	display: flex;
	position: absolute;
	min-width: 600px;

	left: 400px;
	top: 60px;
}

.name > h1{
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
	color: #EDEDED;

	transition: 400ms;
	transform-origin: left;

	/*???*/
	pointer-events: none;
}

.native {
	left: 0;
	top: 0;
	position: absolute;
}

.name > h1.english{
/*	transform: rotate(0);*/
	transform: translate(0, 0);
	opacity: 1;
	filter: none;
}

.name > h1.native{
/*	transform: rotate(2deg);*/
	transform: translate(-15px, 15px);
	opacity: 0;
	filter: blur(20px);
}

.name:hover > h1.english {
/*	transform: rotate(-2deg);*/
	transform: translate(-15px, -15px);
	opacity: 0;
	filter: blur(20px);
}

.name:hover > h1.native {
/*	transform: rotate(0);*/
	transform: translate(0, 0);
	opacity: 1;
	filter: none;
}

.line {
	background: linear-gradient(270deg, #00FFFF 0%, #D500FF 63.12%, rgba(213, 0, 255, 0) 100%);
	position: inherit;
	left: 0;
	bottom: -10px;
	transform: rotate(-2deg) translateY(3%);
	transform-origin: left;
/*	width: 700px; at transitions*/
/*	transition: 400ms;*/
	height: 4px;
	border-radius: 7px;
}


