*[centered]{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	gap: 0;
}

*[stretched]{
	display: flex;
	flex-direction: column;
}

v-network{
	--indent-width: 40px;
}

*[i],
*[i1],
*[i2],
*[i3],
*[i4],
*[i5]{
}

*[i], *[i1]{
	margin-left: calc(var(--indent-width) * 1);
}

*[i2]{
	margin-left: calc(var(--indent-width) * 2);
}

*[i3]{
	margin-left: calc(var(--indent-width) * 3);
}

*[i4]{
	margin-left: calc(var(--indent-width) * 4);
}

*[i5]{
	margin-left: calc(var(--indent-width) * 5);
}

[fadeInOpacity]{
	animation: fadeInOpacityAnim 300ms;
}
@keyframes fadeInOpacityAnim{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}