@keyframes projectAnim{
	from{
		opacity: 0.8;
		transform: translateY(380px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}	
}
@keyframes projectAnimBottom{
	from{
		transform: translateY(-38px);
	}
	to{
		transform: translateY(0);
	}	
}
v-project{
	animation: projectAnim 500ms;
	display: block;
	transform-origin: top;
}

.other v-project{
	animation: projectAnimBottom 500ms;
}


v-projects{
	font-size: 24px;
	font-family: 'Open Sans';
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

v-projects  a{
/*	background-color: red;*/
	color: #ededed;
/*  font-family: 'Fira Mono';*/
	text-decoration: none;
}

v-projects v-button{
	font-size: 15px;
}

v-projects .wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

v-projects .skills {
	width: 400px;
	margin-right: 4px;
	padding: 14px;
	overflow-y: scroll;
}


v-projects .projectsColumn {
	flex: 1;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 70vh;
}

.projectsColumn{
	border-left: 1px solid #eee6;
	background-color: #0008;
}

.activeSkills{
	padding: 7px;
/*	position: sticky;*/
	top: 0px;
/*	background-color: #0004;*/
	border-bottom: 1px solid #eee6;
	display: flex;
	align-items: center;
	flex-direction: 100%;
	height: 80px;
	overflow-x: scroll;
}
.activeSkills::-webkit-scrollbar {
  height: 3px;
}

.activeSkills::-webkit-scrollbar-track {
  background: #0000;
}
.activeSkills::-webkit-scrollbar-thumb {
  background: #ddd7;
}
.activeSkills::-webkit-scrollbar-thumb:hover {
  background: #ddda;
}


.activeSkills v-button{
	transform-origin: left;
	min-width: min-content;
}
/*.activeSkills v-button[active]{
	transition: 400ms;
	transform: rotate(45deg) translateX(200px);
	opacity: 0;
}*/

.activeSkills v-button{
	animation: activeSkillInserted 200ms;
	transition: transform 150ms, margin-right 200ms;
}
.activeSkills v-button:hover{
	transition: all 800ms, transform 0ms, margin-right 0ms;
}

@keyframes activeSkillInserted{
	from{
/*		margin-left: -30px;*/
		opacity: 0;
		transform: scale(0.9) translateX(30px);
	}
	to{
		transform: scale(1);
/*		margin-left: 4px;*/
		opacity: 1;
	}
}
.activeSkills v-button:active{
	transition: transform 40ms, margin-right 100ms;
	transform: rotate(8deg) translateX(10px);
	margin-right: -38px;
	opacity: 0.57;
}
.activeSkills v-button:active + v-button{
	pointer-events: none;
}

v-projects v-button.category{
/*	margin-top: 70px;*/
	margin-top: 25px;
	margin-bottom: 7px;
}

v-button[active]{
	filter: hue-rotate(31deg);
}


@keyframes titleAddedAnim{
	from{
		margin-bottom: 180px;
	}
	to{
		margin-bottom: 60px;

	}

}

v-projects .projects .list> .title{
/*	animation: titleAddedAnim 400ms;*/

}

@keyframes selectedsGoneAnim{
	from{
		margin-top: 80px;
	}
	to{
		margin-top: 0;
	}
}
v-projects .projects .list> .title[selectedsGone]{
/*	animation: selectedsGoneAnim 400ms;*/
}

v-projects .projects .list> .title{
	transform: scale(1);
	z-index: 8;
/*	animation: titleAddedAnim 400ms;*/
	
}

v-projects .projects .list > .title{
	margin-bottom: 60px;
	margin-top: 40px;
}


v-projects .projects .list.selecteds > .title > p{
	font-size: 16px;
	font-family: 'Open Sans';
}

v-projects .projects .list.selecteds > .title{
	animation: titleAddedAnim 1300ms;
}

v-projects .projects .list:first-child > .title{
	margin-top: 0;
}

v-projects .projects .list > .title > p{
	background-color: #040404bb;
}

v-projects .projects .list > .title{
/*	background: linear-gradient(to right, #0a0a0a 0%, transparent 100%);*/
	background-color: #0008;
	position: sticky;
/*	top: 80px;*/
	top: 0;
	padding: 3px;
	padding-bottom: 0;
/*	margin-top: 24px;*/
}

.project{
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
/*	align-items: flex-start;*/
	padding: 32px 19px 32px 32px;
	gap: 24px;

/*	height: 449px;*/
	margin: 28px 32px;

	background: rgba(255, 255, 255, 0.015);
	border: 1px solid #626262;
	border-radius: 21px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;

	transition: 300ms;
}
.project:hover{
	background: rgba(255, 255, 255, 0.025);

}

.project .name{
	display: flex;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 38px;
/*	line-height: 110%;*/
	/* or 40px */


	color: #ededed;

}

.project .type{
	font-size: 22px;
	display: flex;
	align-items: center;
	margin-left: auto;
/*	background-color: red;*/
}



.project .headline{
/*	font-family: 'Josefin Sans';*/
  font-family: 'Fira Mono';

	font-style: normal;
	font-weight: 400;
	font-size: 28px;
/*	text-decoration: underline;*/
/*	line-height: 110%;*/
	/* or 39px */
}


.project .content {
	display: flex;
	flex-direction: row;
	gap: 17px;
}

.project .content .imgs{
	display: flex;
	gap: 7px;
	height: 200px;
}

.project .content .imgs > img{
	width: 300px;
	border-radius: 8px;
	transition: 540ms;
}

.project:hover .content .imgs > *{
/*	transform: scale(1.005);*/
	border-radius: 14px;

}

.project .content .description{
	display: flex;
}

.project .carousel img {
/*	scroll-snap-align: center;*/
	border-radius: 7px;
}

.project .carousel::-webkit-scrollbar {
	height: 13px;
}

.project .carousel {
	display: flex;
	flex: 1;
	width: 100%;
	flex-direction: row;
	overflow-x: scroll;
/*	scroll-snap-type: x proximity;*/
	height: 570px;
/*	scroll-behavior: smooth;*/
/*	-webkit-overflow-scrolling: touch;*/

	gap: 7px;
	padding-bottom: 7px;
}

