<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="/src/style/reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Josefin+Sans&family=Jost&family=Open+Sans:wght@300&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="./shady-scroller.css">

</head>
<body>
	qdfiojs <br>
	qdfiojs <br>
	qdfiojs <br>
	qdfiojs <br>
	<div class="shady-scroller">
		<p>oijhyg</p>
		I valued aesthetics so much that my  mind was blown away when I discover
		ed how to modify a web page as a kid. Since then, all my free time was 
		spent in front of a laptop. One summer I got familiar with Python. Fell 
		in love. Whole summer with little projects and got comfortable with 
		programming. Needed for robust UI workflow, then web have been my 
		choice. Python gave me a solid background that I started making out full
		projects in JavaScript. Had been playing with it for about a year 
		along learning the cli tools, all flavors of JS, runtimes, browsers, 
		taking a glance at frameworks and pretty much everything. To today - 
		skillful, talented and confident 
	</div>
	
</body>
</html>