.impactHolder {
	position: relative;
}

.impact {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	transform-origin: top left;
	background: radial-gradient(#0000, #eee);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	animation: impactAnim 780ms forwards;
}
.impact.super {
  width: 2.5rem;
  height: 2.5rem;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  background: radial-gradient(#0000, #ccc);

}

@keyframes impactAnim {
	0% {
    opacity: 0.2;
  }
  50% {
		opacity: 1;
	}
	100% {
		transform: scale(3) translate(-50%, -50%);
		opacity: 0;
	}
}
