body {
	/* for v-button to inherit */
	--size-to: 50px;
	--passive: #1a1a1a;
	--active: #ededed;
}

v-button {
	margin: 4px;
	border-radius: 10em;
	/*----*/
	background-color: var(--passive);
	display: inline-block;
	position: relative;
	overflow: hidden;
}

v-button .circle {
	transition: width 350ms, height 350ms;
	/*----*/
	border-radius: 50%;
	width: 0;
	height: 0;
	background-color: var(--active);
	transform: translate(-50%, -50%);
	z-index: 1;
	position: absolute;
	pointer-events: none;
}

v-button {
	box-shadow: 0 0 0 1px #444;
}
v-button:hover {
	transition: 800ms;
}

v-button button {
	margin: 2px; /* padding for highlight border */
	transition: 350ms;
	font-size: 1.2em;
	padding: 7px 13px;
	/*----*/
	color: var(--active);
	background-color: transparent;
	border: none;
	border-radius: inherit;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

v-button:hover button {
	background-color: var(--active);
	color: var(--passive);
	box-shadow: 0 0 0 10px var(--active);
}
v-button button:focus {
	box-shadow: none;
}

v-button:hover .circle{
	display: inline;
	width: var(--size-to);
	height: var(--size-to);
}

v-button button:focus + .circle{
	width: 120%;
	height: 120%;
	transition: 400ms cubic-bezier(0.11, 0.88, 0.58, 1);
}

v-button button:focus{
	transition: 200ms;
	border-width: 0;
/*	transform: scale(0.95);*/
	background-color: var(--passive);
	color: #ededed;
}

v-button.glass button:focus{
	opacity: 0.9;
}

v-button.glass .circle{
	filter: blur(5px);
}