body{
	padding: 6px;
}

button{
/*	font-size: 12em;*/
/*height: 400px;*/
}

v-button {
	margin: 4px;
/*	background-color: red;*/
	overflow: hidden;
	display: inline-block;
	position: relative;

	--size-to: 50px;
	background-color: #1a1a1a;
	border-radius: 10em;
}

v-button span {
	position: relative;
	z-index: 2;
}
v-button button {
	border-radius: inherit;
	z-index: 1;
	position: relative;
	overflow: hidden;
	background-color: #0000;
	padding: 7px 13px;
	border: 1px solid #444;
	color: #ededed;

	transition: 350ms;
	font-size: 1.2em;
}
v-button:hover button {
	background-color: #ffffffed;
	background-color: #ededed;
	color: #1a1a1a;
}

v-button:hover button {
	background-color: #ededed;
	color: #1a1a1a;
}

v-button .circle{
	position: absolute;
	background-color: #ededed;
	width: var(--size-to);
	height: var(--size-to);
	pointer-events: none;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	animation: hoverIn 350ms ;

	display: none;
}
v-button:hover .circle{
	display: inline;
}

@keyframes hoverIn{
	from {
		width: 0;
		height: 0;
	}
	to{
		width: var(--size-to);
		height: var(--size-to);

	}
}