/* this style isn't used in the main page. 
only for testing purpose */

body{
	background-color: #eda;
}

*{
	transition: 200ms;
	padding-inline: 10px;
}

v-component-a {
	display: flex;
	transform: translateX(-50px);
	background-color: blue;
	opacity: 0.0;
	border: 2px solid brown;
	transition: 200ms;
}
v-component-a.open {
	opacity: 1;
	transform: translateX(0);
	background-color: red;
	animation: bAnim;

}

#content.loading{
	background-color: lime;
}